/*--------------------------------fonts----------------------------*/
/* symbol errors, see http://www.princexml.com/forum/topic/1540/error-no-glyphs-for-character
   prince --scanfonts src/css/fonts/*.* > lixo.css
*/

/* Futura Hv BT, Heavy Italic */
@font-face {
    font-family: FuturaBT-HeavyItalic;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url("fonts/FuturaBT-HeavyItalic.ttf")
}

/* Futura Hv BT, Heavy */
@font-face {
    font-family: FuturaBT-Heavy;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/FuturaBT-Heavy.ttf")
}

/* Futura Lt BT, Light Italic */
@font-face {
    font-family: FuturaBT-LightItalic;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url("fonts/FuturaBT-LightItalic.ttf")
}

/* Futura Light, Regular */
@font-face {
    font-family: FuturaBT-Light;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/FuturaBT-Light.otf")
}

/* Sabon LT Std, Italic */
@font-face {
    font-family: SabonLTStd-Italic;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url("fonts/SabonLTStd-Italic.otf")
}

/* Sabon LT Std, Roman */
@font-face {
    font-family: SabonLTStd-Roman;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/SabonLTStd-Roman.otf")
}

/*-------------------------------------------------------*/


/*--------------Formato da página------------------------*/

@page { 
    size: 210mm 280mm;
    margin: 16mm 5mm 10mm 12mm; /* 16mm 3mm 11mm 15.25mm , top=15mm right=3mm 15mm left=20mm;*/
    padding: 0 0 0 0;

    @bottom-left{     
        /* content com char especial, ver coluna CSS em http://brajeshwar.github.io/entities/  */   
        content: "BRM Naturais • brm.vendas@gmail.com \00a0\00a0\00a0\00a0 \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0  Catálogo 2015/setembro \00a0 ";
        font-family:SabonLTStd-Roman;
        font-size: 8pt;
        text-align: right;
        padding-bottom: 80%;
        /* padding-left: 20%; */
        padding-right: 0; /*old  1%*/
    }

    @bottom-right{
        content:counter(page);
        text-align: left; /* ?? right */

        margin-top: 0;
        margin-right: 0; /*old 2% */
        padding-left: 4pt; /* entre linha e content  */
        padding-bottom: 80%;
        padding-right: 0; /* margem  */
        width: 16.5mm;  /* old 11.5mm gambi para alinhar margem */

        border-left: solid 1.5pt #9C0629; /* RGB 156 6 41 */

        font-family:FuturaBT-Heavy;
        font-size: 9pt; 
        font-weight: bold;
    }
}


/*-----------------------paginação-------------------------------*/
body {
    display: block;
    page: table-of-contents;
    counter-reset: page 0;
}


/*-----------------------BODY-------------------------------*/

.sec {
    padding-top: 12pt; /* 10pt */ 
    /* page-break-after: always; */
}

p.secTitle{
    page-break-after: avoid;
    background-color: #9C0629; /*#9b9d9f;*/
    color: #fff;
    width: 94%; /* 95.9% */
    
    text-align: center;
    font-family: FuturaBT-Heavy;
    font-size: 12pt;
    
    padding-top: 2pt; /* 10pt */ 
    padding-top: 2pt; /* 10pt */ 
    padding-bottom: 3pt;   /* cinza */
    margin-bottom: 16pt;  /* margem branca */
    /* height: 5mm; padding-top: 1.5mm; */
}

.secCenter{
    /*page-break-after: avoid;        */
    width: 94%; /* 95.9% */
    text-align: center;
    font-family: FuturaBT-Heavy;
    font-size: 10pt;
}


.tocByKeys table{
        width: 86mm;
}

.tocByKeys tr.alt1 {
    background-color: #DDD;    
}

.tocByKeys tr td>div:nth-child(1){
    float: left;
    display: inline-block;
   text-align: left;
   width: 50%;
}

.tocByKeys tr td>div:nth-child(2){
    float: right;
   text-align: right;   
   width: 50%;
}


.tocByKeys td {
    font-family: FuturaBT-LightItalic;
    font-size: 7pt;
    border:  0; 
    padding: 0;
    border-top: 1px; 
    width:50%;
}
.tocByKeys tr td:nth-child(2) {
    font-family: FuturaBT-Light;    
    color: #7b7d7f;
}

p.locais {
    text-align: center;
    font-family: FuturaBT-Light;
    font-size: 7pt;
    margin-bottom: 13pt;
}


a{
    text-decoration: none;
    color: #000;
    margin-bottom: 2mm; /* new */
}

div.title{
    width: 85%;
    font-size: 7.0pt;
    padding-top: .5pt;
}

div.title-block{ /* new */
    width: 85%;
    font-size: 7.2pt;
    padding-top: .5pt;
}

span+div{
    margin-left: 12.5mm;
}
div>p{
    margin-bottom: 2pt;
    margin-top: 2pt;
}


div.aux{
    display: block;
    background-color: black;
    margin-bottom: 0;
    padding: 0 0;
}

span.pubid{
    float: left;
    color: #fff;
    background-color: #9C0629; /*old #888 old #9b9d9f*/
    padding: 2pt 2pt; 
    font-family: FuturaBT-Heavy;
    font-size: 7pt;   /* 8pt bom */
    /*margin-right: 88%;*/
    text-align: center;
    text-transform:uppercase;
    text-indent: 0;

    margin-right: 15pt;
    margin-bottom: 2pt;
}
hr{  /* linha no pubid */
    display: block; 
    width: 100%;
    height: 1px;
    border: 0; 
    border-top: 1px solid #9C0629; /* old 888 old #9b9d9f*/
}
hr+span{
    margin: -1pt 0;
}


div.sec{
    width:100%;
    /*max-width:800pt;    | A. max horizontal number of boxes =~ int(A/B) */
    margin:0 auto;
    text-align:left;    /* (left|center) align last boxes and the set vert. line */
    font-family: sans-serif;
    font-size: 5pt;
}
div.article {
    display: inline-block;
    page-break-inside: avoid;
    overflow:auto;    
    /*height: 77mm;*/    /* B. change the vertical numb. of boxes */
    width: 86mm;        /* C. change the horizontal numb. of boxes*/
    margin-right:6.8mm;         /*  boxes separator */

    vertical-align: top; /* (top|bottom) align boxes */
    text-align:justify;
    margin-bottom: 8pt;
}

div.title{
    text-align: left;
    font-family: FuturaBT-Heavy;
    font-size: 6pt;
    line-height: 8pt;
}

div.aux+div.contrib-group{
    margin: 0 0;
    padding: 0 0;
}

div.contrib-group{
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-top: .8pt;
}

span.contrib{
    display: inline;
    text-align:left;
    text-decoration:none;
    font-style: italic;
    text-align: left;
    font-family: FuturaBT-LightItalic;
    font-size: 6pt;  /* 7pt;*/
}
p.aff
{
    text-align: left;
    font-family: FuturaBT-Light;
    font-size: 6pt;
}

p.corresp{
    text-align: left;
    font-family: FuturaBT-Light;
    font-size: 6pt;
}

p.abstract{
    font-family: SabonLTStd-Roman;
    font-size: 6pt;
    line-height: 8pt;
    margin-top: 4pt;
}

p.conclusion{
    line-height: 7pt;
    margin-top: 2pt;
    font-size: 6pt;
    font-style: italic;
    font-family: SabonLTStd-Italic;
}

span.funding-source {
    font-style: normal;
    font-family: SabonLTStd-Roman;   
}

sup, sub{
    font-size: 4pt;
    margin: 0 0;
    padding: 0 0;
    line-height: 3pt;
}
